<div class="recent-participant well">
  <%  person = recent_participant 
    recent =  person.research_sessions.where('start_datetime < ?', Time.current).last 
     invite = recent.invitations.find_by(person_id: person.id)
     %>
  <span class="name">
    <%= link_to "#{person.first_name} #{person.last_name}", person %>
  </span>
  <br/>
  <span class="session">
    Session:<%= link_to recent.title, recent %>
  </span>
  <br/>
  <span class="gift-cards">
    GiftCards: <%= recent.gift_cards.size %>
  </span>
  <br/>
  <span class="session-user">
    User: <%= recent.user.name %>
  </span>
  <br/> 
</div>
