    <h3> People in cart</h3>
    <input id='cart-typeahead' type="text" placeholder="People Search">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact Method</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody id='mini-cart'>
        <% people.each do |person| %>
          <%= render partial: 'cart/mini_item', locals: {person: person} %>
        <% end %>
      </tbody>
    </thread>
  </table>

