<%= render :partial => 'layouts/research_sessions_menu' %>
<h3> People in cart</h3>
<input id='cart-typeahead' type="text" placeholder="People Search">
<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email address</th>
          <th>Phone number</th>
          <th>Preferred Contact Method</th>
          <th>Tag Count</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody id='full-cart'>
        <% @people.each do |person| %>
          <%= render partial: 'cart/full_item', locals: {person: person} %>
        <% end %>
      </tbody>
    </thread>
  </table>
</div>
<div class='row'>
  <div class='span1'>
    <%= link_to "Delete all", delete_cart_path({all: true}),
                            class: "btn btn-mini",
                            remote: true, method: :get %>
  </div>
</div>
