<%= render :partial => 'layouts/research_sessions_menu' %>
<h3> People in Pool</h3>
<%= link_to "Remove All", delete_cart_path({all: true}),
                            class: "btn btn-mini",
                            remote: true, method: :get %>
<input id='cart-typeahead' type="text" placeholder="People Search">

<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email address</th>
          <th>Phone number</th>
          <th>Preferred Contact Method</th>
          <th>Tag Count</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody id='full-cart'>
        <%= render partial: 'cart/full_item', collection: @people, as: :person %>
      </tbody>
    </thread>
  </table>
</div>
<div class='row'>
  <div class='span1'>

  </div>
</div>
