<table class="table table-hover invitees" id='dynamic-invitation-panel' >
  <tbody>
    <tr>
      <th>Name</th>
      <th>Action</th>
      <th>Current State</th>
      <th>Gift Cards</th>
    </tr>
    <% for invitation in @research_session.invitations.includes(:person) do %>
      <tr>
        <td><%= link_to invitation.person.full_name, person_path(invitation.person), id: "person-#{invitation.person.id}" %></td>
        <td>
          <%= render partial: 'invitations/actions', locals: {invitation: invitation} %>
        </td>
        <td><%= invitation.aasm_state %></td>
        <td>
          <%= link_to invitation.gift_cards.size,
                modal_gift_cards_path(invitation.class.to_s,invitation.id),
                {:remote => true,
                  'data-toggle' =>  "modal",
                  'data-target' => '#modal-window',
                  id: "#{invitation.id}-gift-card-count"}  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="modal-window" class="modal hide" role="dialog" aria-labelledby="GiftCardModal" aria-hidden="true"></div>
