<%= render :partial => 'layouts/research_sessions_menu' %>
<h1>Invite people to a Session</h1>
<div class='container'>
  <div class='row'>
    <div class='col-md-4 pull-right'>
      <%= render partial: 'cart/mini_view', locals: {
          people: Person.find(session[:cart])
          } %>
    </div>
    <div class='col-md-8 pull-left'>
      <%= render 'form' %>
    </div>
  </div>
</div>
