<table class="table table-striped rewards">
  <thead>
    <tr>
      <th>id</th>
      <th>Reward Type</th>
      <th>Amount</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody id='mini-reward'>
    <%= render partial: 'rewards/mini_reward',
          collection: rewards,
          as: :reward %>
  </tbody>
</thread>
</table>

