<p>Hi <% @invitation.person.first_name %>,</p>

<p>Your interview <%= @invitation.start_datetime_human %> with <%= @invitation.user.name %>, phone number: <%=@invitation.user.phone_number %> has been cancelled.
</p>

<p> Thanks for letting us know!</p>
