@import "glyphicons";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

.glyphicon-time{
  @extend %glyphicon-time;
}
.glyphicon-chevron-up{
  @extend %glyphicon-chevron-up;
}
.glyphicon-chevron-down{
  @extend %glyphicon-chevron-down;
}

.glyphicon-chevron-left{
 @extend %glyphicon-chevron-left;
}

.glyphicon-chevron-right{
 @extend %glyphicon-chevron-right;
}

.glyphicon-calendar{
 @extend %glyphicon-calendar;
}

.glyphicon-screenshot{
  @extend %glyphicon-screenshot;
}

.glyphicon-trash{
  @extend %glyphicon-trash;
}

.glyphicon-remove{
  @extend %glyphicon-remove;
}

.toggle-check-text {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  background: #CCC;
  font-size: 1.5em;
  padding: 0.25em 0.5em 0.25em 2em;
  margin-top:5px;
  border-radius: 1em;
  min-width: 2em;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.15s;
}

.toggle-check-text:after {
  content: ' ';
  display: block;
  background: #FFF;
  width: 1.1em;
  height: 1.1em;
  border-radius: 1em;
  position: absolute;
  left: 0.3em;
  top: 0.25em;
  transition: left 0.15s, margin-left 0.15s;
}

.toggle-check-text:before {
  content: 'No';
}

.toggle-check-input:checked ~ .toggle-check-text {
  background: #8ad869;
  font-size: 1.5em;
  min-width: 2em;
  margin-top: 5px;
  padding-left: 0.5em;
  padding-right: 2em;
}

.toggle-check-input:checked ~ .toggle-check-text:before {
  content: 'Yes';
}

.toggle-check-input:checked ~ .toggle-check-text:after {
  left: 100%;
  margin-left: -1.4em;
}

