<li id="tagging-<%= tagging.id %>" class="tagging">
  <%= link_to tagging.tag.name,
              search_index_ransack_path("q[tags_id_eq_all]" => [tagging.tag.id]) %>
  <%= link_to '<i class="icon-remove"></i>'.html_safe,
        tagging_path(tagging.id),
        method: :delete,
        remote: true,
        class: "delete-link",
        title: "delete this tag" %>
</li>
