<p id="notice"><%= notice %></p>
<%= nav_bar('nav nav-tabs') do %>
  <%= nav_link('Users', users_path, class: 'presentation') %>
  <%= nav_link('Teams', teams_path, class: 'presentation') %>
<% end %>


